<h3>Ma commande</h3>
{{#each cart as |food|}}
    <div class="menu-item">
        <p>{{food.name}} - {{food.price}} euros - Qte
            <button onclick="removeFromCart('{{food.id}}', 1)">Retirer</button>
            {{this.quantity}}
            <button onclick="addToCart('{{food.id}}', 1)">Ajouter</button>
        </p>
    </div>
{{/each}}
<script>
     function removeFromCart(foodId, quantity) {
         fetch('/cart/remove_from_cart', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ food_id: foodId, quantity: quantity }),
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
     }

     function addToCart(foodId, quantity) {
         fetch('/cart/add_to_cart', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ food_id: foodId, quantity: quantity }),
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
     }
 </script>







