<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélection de Restaurant</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Ajoutez vos styles personnalisés ici si nécessaire */
        #commande {
            margin-top: 175px;
            display: flex;
            flex-direction: column;
            min-height: 50vh;
        }
    </style>
</head>
<section id="commande" class="container">
    <h3>Ma commande</h3>
    {{#each cart as |food|}}
        <div class="menu-item">
            <p>{{food.food.food_name}} - {{food.food.food_price}} euros - Qte
                <button type="submit" class="btn btn-primary" onclick="removeFromCart({{food.food.id}}, 1)">Retirer</button><p id="qty">{{this.quantity}}</p><button type="submit" class="btn btn-primary" onclick="addToCart({{food.food.id}}, 1)">Ajouter</button>
            </p>
        </div>
    {{/each}}
</section>
<section id="formClient" class="container">
    <h3/>Informations client</h3>
    <form method="post" action="/cart/checkout">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="adresse">Adresse</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider ma commande</button>
</section>

<script>
     function removeFromCart(foodId, quantity) {
         fetch('/cart/remove_from_cart', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ food_id: foodId, quantity: quantity }),
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
         document.getElementById('qty').innerHTML = "0";
         document.getElementById('').contentWindow.location.reload();
     }

     function addToCart(foodId, quantity) {
         fetch('/cart/add_to_cart', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ food_id: foodId, quantity: quantity }),
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
         let qte = document.getElementById('qty').innerHTML;
         document.getElementById('qty').innerHTML = parseInt(qte) + 1;
     }
 </script>







